.logo-icon__text {
    position: absolute;
    font-size: 3.5rem;
    bottom: 0;
    right: 30%;
    color: var(--white-color);
}

.logo-icon {
    position: relative;
    font-size: 5rem;
    color: var(--second-color);
}

.header_logo--text {
    color: var(--primary-color);
    margin-left: 10px;
    font-weight: 800;
}